@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Franchise';
    src: url(typography/Franchise.ttf);
}
*{
    font-family: 'Franchise';
}